[submodule "Week-1/token_sanctions/lib/forge-std"]
	path = Week-1/token_sanctions/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week-1/token_sanctions/lib/openzeppelin-contracts"]
	path = Week-1/token_sanctions/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
